* {
    margin: 0;
    padding: 0;
}

.employSec {
    background-color: rgb(232, 230, 230);
}

.emp img {
    height: 350px;
    margin-top: 50px;
}

.emp {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.employSec {
    padding: 70px 0;
}

.empSearch {
    padding-top: 80px;
}

.findEmp {
    display: none;
}

#warning {
    color: red;
}

@media screen and (max-width : 600px) {
    .emp img {
        height: 250px;
        margin-top: 0px;
    }
}